APP_ENV=local
DEBUG=true
SECRET_KEY=change-me

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=hamdong
POSTGRES_PASSWORD=hamdong_password

IDENTITY_DB_NAME=identity_db
GROUP_DB_NAME=group_db
EXPENSE_DB_NAME=expense_db
SETTLEMENT_DB_NAME=settlement_db
MEDIA_DB_NAME=media_db
NOTIFICATION_DB_NAME=notification_db

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=hamdong
RABBITMQ_DEFAULT_PASS=hamdong_password
RABBITMQ_MANAGEMENT_PORT=15672

JWT_PUBLIC_KEY_PATH=
JWT_PRIVATE_KEY_PATH=

SMS_PROVIDER=fake
SMS_API_KEY=
SMS_SENDER=
